
@import "./node_modules/bootstrap/scss/bootstrap.scss";

.card {
    width: 200px; 
    height: 300px;
    display: inline-block;
    margin: 10px;
  }

  .card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }